Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

df = pd.read_csv('ratings.csv')
print(df)

df = df.where(df['rating'] == 5.0).groupby(['movieId']).agg({'rating': 'count'}).reset_index()
print(df['movieId'].values[df['rating'].argmax()])

        userId  movieId  rating   timestamp
0            1       31     2.5  1260759144
1            1     1029     3.0  1260759179
2            1     1061     3.0  1260759182
3            1     1129     2.0  1260759185
4            1     1172     4.0  1260759205
...        ...      ...     ...         ...
99999      671     6268     2.5  1065579370
100000     671     6269     4.0  1065149201
100001     671     6365     4.0  1070940363
100002     671     6385     2.5  1070979663
100003     671     6565     3.5  1074784724

[100004 rows x 4 columns]
318.0

Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [2]:
df = pd.read_csv('power.csv')
df.head(3)

df = df.loc[
    (df['country'].isin(['Lithuania', 'Latvia', 'Estonia']))
    & (df['category'].isin([4, 12, 21]))
    & (df['year'].between(2005, 2010))
    & (df['quantity'] > 0)
]
print(df['quantity'].sum())

240580.0

Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [3]:
# Датасет взят с https://www.kaggle.com/thebasss/currency-exchange-rates

df = pd.read_csv('rates.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5978 entries, 0 to 5977
Data columns (total 52 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Date                        5978 non-null   object
 1   Algerian Dinar              1866 non-null   float64
 2   Australian Dollar           5715 non-null   float64
 3   Bahrain Dinar               5909 non-null   float64
 4   Bolivar Fuerte              2314 non-null   float64
 5   Botswana Pula               4703 non-null   float64
 6   Brazilian Real              5439 non-null   float64
 7   Brunei Dollar               4732 non-null   float64
 8   Canadian Dollar             5622 non-null   float64
 9   Chilean Peso                4758 non-null   float64
 10  Chinese Yuan                4662 non-null   float64
 11  Colombian Peso              5396 non-null   float64
 12  Czech Koruna                4128 non-null   float64
 13  Danish Krone                5727 non-null   float64
 14  Euro                        4908 non-null   float64
 15  Hungarian Forint            4563 non-null   float64
 16  Icelandic Krona             5624 non-null   float64
 17  Indian Rupee                5549 non-null   float64
 18  Indonesian Rupiah           4486 non-null   float64
 19  Iranian Rial                4666 non-null   float64
 20  Israeli New Sheqel          4039 non-null   float64
 21  Japanese Yen                5662 non-null   float64
 22  Kazakhstani Tenge           2927 non-null   float64
 23  Korean Won                  5377 non-null   float64
 24  Kuwaiti Dinar               4924 non-null   float64
 25  Libyan Dinar                5855 non-null   float64
 26  Malaysian Ringgit           5677 non-null   float64
 27  Mauritian Rupee             3518 non-null   float64
 28  Mexican Peso                3712 non-null   float64
 29  Nepalese Rupee              5499 non-null   float64
 30  New Zealand Dollar          5668 non-null   float64
 31  Norwegian Krone             5687 non-null   float64
 32  Nuevo Sol                   1681 non-null   float64
 33  Pakistani Rupee             5490 non-null   float64
 34  Peso Uruguayo               1691 non-null   float64
 35  Philippine Peso             1780 non-null   float64
 36  Polish Zloty                4213 non-null   float64
 37  Qatar Riyal                 5931 non-null   float64
 38  Rial Omani                  5922 non-null   float64
 39  Russian Ruble               3543 non-null   float64
 40  Saudi Arabian Riyal         5932 non-null   float64
 41  Singapore Dollar            5719 non-null   float64
 42  South African Rand          5443 non-null   float64
 43  Sri Lanka Rupee             5469 non-null   float64
 44  Swedish Krona               5629 non-null   float64
 45  Swiss Franc                 5739 non-null   float64
 46  Thai Baht                   5413 non-null   float64
 47  Trinidad And Tobago Dollar  5321 non-null   float64
 48  Tunisian Dinar              1720 non-null   float64
 49  U.A.E. Dirham               5907 non-null   float64
 50  U.K. Pound Sterling         5856 non-null   float64
 51  U.S. Dollar                 5978 non-null   float64
dtypes: float64(51), object(1)
memory usage: 2.4+ MB

Задание 4
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [5]:
df = pd.read_csv('ratings.csv')
df = df.groupby(['movieId']).agg({'rating': 'mean'}).reset_index()

df.loc[df['rating'].between(0, 2), 'class'] = 'low'
df.loc[df['rating'].between(2, 4), 'class'] = 'mid'
df.loc[df['rating'].between(4.5, 5), 'class'] = 'high'

df.head(10)

   movieId    rating class
0        1  3.872470   mid
1        2  3.401869   mid
2        3  3.161017   mid
3        4  2.384615   mid
4        5  3.267857   mid
5        6  3.884615   mid
6        7  3.283019   mid
7        8  3.800000   mid
8        9  3.150000   mid
9       10  3.450820   mid

Задание 5
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

In [9]:
geo_data = {
    'Центр': ['москва', 'тула', 'ярославль'],
    'Северо-Запад': ['петербург', 'псков', 'мурманск'],
    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

df = pd.read_csv('keywords.csv')
df['region'] = None
for key, value in geo_data.items():
    df.loc[df['keyword'].str.contains('|'.join(value)), 'region'] = key

print(df[df['region'].notnull()])

                                     keyword   shows          region
127                             авито москва  979292           Центр
370                 авито ру санкт петербург  425134    Северо-Запад
564                погода в санкт петербурге  292489    Северо-Запад
849                          авито ярославль  209581           Центр
1063                     фарпост владивосток  176951  Дальний Восток
...                                      ...     ...             ...
99590  авито ярославль автомобили с пробегом    3673           Центр
99634   северпост новости мурманской области    3606    Северо-Запад
99808      полармед мурманск запись на прием    3719    Северо-Запад
99890                    яндекс метро москва    4548           Центр
99922                      авто ру ярославль    3712           Центр

[747 rows x 3 columns]

Задание 6
Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл ratings.csv из базы https://grouplens.org/datasets/movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

В переменную years запишите список из всех годов с 1950 по 2010.

Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

для каждой строки пройдите по всем годам списка years
если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год
Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

Вывод: